@font-face {
    font-family: OpenSans;
    src: url(OpenSans.ttf);
    font-weight: 600;
}

* {
    font-family: OpenSans, sans-serif;
    line-height: 140%;
    text-decoration: none;
    color: white;
}

body {
    background-color: #848484;
}

a {
    color: white;
}

p {
    text-indent: 50px;
}

a:visited {
    color: #4B4B4B;
}

header {
    background-color: #6B6B6B;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

#name {
    background: black;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
    border-left: 0px;
    margin: 15px 0px;
    max-width: 400px;
    flex: 1 0 400px;
}

#name h1 {
    color: white;
    font-size: 40px;
    padding: 20px 30px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin: 35px 15px;
}

header ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    bottom: 0;
    white-space: nowrap;
}

header li {
    padding-right: 15px;
    font-size: 25px;
    display: grid;
    place-items: center;
}

header .spacer {
    position: relative;
    bottom: 2px;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

main section {
    display: flex;
    flex-direction: row;
    margin: 25px;    
    max-width: 1500px;
}

#projects section {
    display: flex;
    flex-direction: column;
    width:75%
}

/* .rows {
    margin: 0px;
    width: 85%;
    max-height: 400px;
} */

.desc { 
    width: 25%;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: right;
    border: 0px solid black;
    border-right-width: 2px;
    flex: 0 0 auto;
}

.content {
    width: 100%;
    padding: 10px;
}

#rows .content {
    display: flex;
    padding: 0px;
    height: 100%;
}

.card {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin: 5px;
    border-radius: 20px;
}

#mainproj { 
    width: 100%;
}

.card > a > img {
    width: 100%;
    /* height: 100%; */
}

.card a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
}

.content ul {
    display: flex;
}

h2 {
    text-align: right;
}

#pic {
    float: left;
    margin: 0px 10px 10px 0px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}